@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url(../img/bg2.jpg);
    background-size: cover;    
}

header {
    width: 100vw;
    height: 15vh;
}

footer {
    height: 25vh;
    width: 100vw;
    background: white;
}

button {
    padding: 5px;
    border-radius: 5px;
    height: 60px;
    width: 120px;
    border: none;
    background: #000000cf;
    color: white;
    font-size: 1rem;
}

nav, p {
    font-family: Poppins;
}

.navbar {
    padding: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    align-items: center;
    font-size: 1.2rem;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 20px
}

.wcm {
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 75vh;
    grid-template-areas:
    "img oth";
}

.wcm-img {
    margin: 0 auto;
    grid-area: img;
    width: 80%;
    border-radius: 15px;
    background-image: url(../img/img-wcm.jpg);
    background-size: cover;
}

.wcm-oth {
    margin: 0 auto;
    grid-area: oth;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
    grid-template-areas:
    "txt"
    "pic"
    "btn";
    width: 80%;
}

.wcm-txt {
    margin: auto auto;
    height: 70%;
    width: 80%;
    grid-area: txt;
}

.wcm-txt h1 {
    font-family: Poppins;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.wcm-pic {
    margin: auto auto;
    height: 100%;
    width: 100%;
    grid-area: pic;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
    "pic1 pic2 pic3";
}

.pic {
    margin: 0 auto;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    background: #000000cf;
}

.pic-img {
    margin: 25px auto;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: cover;
}

.pic-txt {
    margin: 0 auto;
    padding: 5px;
    font-family: Poppins;
    color: white;
}

.pic-txt h2, .pic-txt h3 {
    text-align: center;
}

.pic-txt h2 {
    font-size: 2rem;
}

.pic-txt h3 {
    font-size: 1.3rem;
}

.pic-txt p {
    padding: 10px;
    text-align: justify;
    font-size: 1rem;
}

.wcm-btn {
    grid-area: btn;
}

.wcm-btn {
    margin: 30px auto;
}

.ft {
    background: white;
}

#pic1 {
    background-image: url(../img/face1.jpg);
}

#pic2 {
    background-image: url(../img/face2.jpg);
}

#pic3 {
    background-image: url(../img/face3.jpg);
}